--md-white: #ffffff;
--md-black: #000000;
--md-base: #dfe5ec;
--md-base-50: #f8fafb;
--md-base-100: #f3f6f9;
--md-base-200: #e3eaf2;
--md-base-300: #dfe5ec;
--md-base-400: #dbe0e6;
--md-base-500: #d7dbe0;
--md-base-600: #c6cbd2;
--md-base-700: #74787e;
--md-base-800: #45494f;
--md-base-900: #1b1d20;
--md-base-light: #f3f6f9;
--md-base-lighter: #ffffff;
--md-base-dark: #45494f;
--md-base-darker: #1b1d20;
--md-primary: #2c6fd1;
--md-primary-light: #bcd8ff;
--md-primary-lighter: rgba(0, 111, 255, 0.13);
--md-primary-dark: #375a8b;
--md-primary-darker: #00215d;
--md-secondary: #5b6371;
--md-secondary-light: #c2ccdc;
--md-secondary-lighter: rgba(0, 98, 255, 0.13);
--md-secondary-dark: #444c58;
--md-secondary-darker: #19202b;
--md-info: #085786;
--md-info-light: #aadaff;
--md-info-lighter: rgba(170, 218, 255, 0.5);
--md-info-dark: #086791;
--md-info-darker: #002d41;
--md-success: #3e9108;
--md-success-light: #c6ffaa;
--md-success-lighter: rgba(198, 255, 170, 0.5);
--md-success-dark: #479108;
--md-success-darker: #1e4100;
--md-warning: #e8e971;
--md-warning-light: #f9ffaa;
--md-warning-lighter: rgba(249, 255, 170, 0.5);
--md-warning-dark: #918908;
--md-warning-darker: #413d00;
--md-error: #d35153;
--md-error-light: #ffaeaa;
--md-error-lighter: rgba(255, 174, 170, 0.5);
--md-error-dark: #910813;
--md-error-darker: #410005;
--md-on-base: #1b1d20;
--md-on-base-light: #1b1d20;
--md-on-base-lighter: #1b1d20;
--md-on-base-dark: #ffffff;
--md-on-base-darker: #f8fafb;
--md-on-primary: #ffffff;
--md-on-primary-light: #00215d;
--md-on-primary-lighter: #00215d;
--md-on-primary-dark: #ffffff;
--md-on-primary-darker: #bcd8ff;
--md-on-secondary: #ffffff;
--md-on-secondary-light: #19202b;
--md-on-secondary-lighter: #19202b;
--md-on-secondary-dark: #ffffff;
--md-on-secondary-darker: #c2ccdc;
--md-on-info: #ffffff;
--md-on-info-light: #002d41;
--md-on-info-lighter: #086791;
--md-on-info-dark: #ffffff;
--md-on-info-darker: #aadaff;
--md-on-success: #ffffff;
--md-on-success-light: #1e4100;
--md-on-success-lighter: #1e4100;
--md-on-success-dark: #ffffff;
--md-on-success-darker: #c6ffaa;
--md-on-warning: #1b1d20;
--md-on-warning-light: #413d00;
--md-on-warning-lighter: #413d00;
--md-on-warning-dark: #ffffff;
--md-on-warning-darker: #f9ffaa;
--md-on-error: #ffffff;
--md-on-error-light: #410005;
--md-on-error-lighter: #410005;
--md-on-error-dark: #ffffff;
--md-on-error-darker: #ffaeaa;
--md-series-1: #75abf0;
--md-series-2: #9c75f0;
--md-series-3: #f075e8;
--md-series-4: #f0758c;
--md-series-5: #f0ba75;
--md-series-6: #c9f075;
--md-series-7: #75f07d;
--md-series-8: #75f0d9;
--md-series-9: #478eeb;
--md-series-10: #7b47eb;
--md-series-11: #eb47e0;
--md-series-12: #eb4766;
--md-series-13: #eba447;
--md-series-14: #b7eb47;
--md-series-15: #47eb52;
--md-series-16: #47ebcc;
--md-series-17: #3d72b8;
--md-series-18: #643db8;
--md-series-19: #b83db0;
--md-series-20: #b83d54;
--md-series-21: #b8823d;
--md-series-22: #91b83d;
--md-series-23: #3db845;
--md-series-24: #3db8a1;
--md-border-width: 1px;
--md-root-font-size: 16px;
--md-body-font-size: 1rem;
--md-body-line-height: 1.5;
--md-body-background-color: var(--md-base-100);
--md-text-font-family: Roboto, sans-serif;
--md-outline-offset: 2px;
--md-outline-width: 2px;
--md-outline-color: var(--md-primary);
--md-text-title-color: var(--md-base-900);
--md-text-color: var(--md-base-900);
--md-text-secondary-color: var(--md-base-800);
--md-text-tertiary-color: var(--md-base-700);
--md-text-disabled-color: var(--md-base-600);
--md-text-contrast-color: var(--md-white);
--md-text-display-h1-font-size: clamp(4.5rem, 6.667vw, 6rem);
--md-text-display-h1-line-height: normal;
--md-text-display-h1-font-weight: 400;
--md-text-display-h1-letter-spacing: -1.5px;
--md-text-display-h1-color: var(--md-text-title-color);
--md-text-display-h1-margin-block-start: 0;
--md-text-display-h1-margin-block-end: 1rem;
--md-text-display-h2-font-size: clamp(3rem, 4.167vw, 3.75rem);
--md-text-display-h2-line-height: normal;
--md-text-display-h2-font-weight: 400;
--md-text-display-h2-letter-spacing: -0.5px;
--md-text-display-h2-color: var(--md-text-title-color);
--md-text-display-h2-margin-block-start: 0;
--md-text-display-h2-margin-block-end: 1rem;
--md-text-display-h3-font-size: clamp(2.25rem, 3.333vw, 3rem);
--md-text-display-h3-line-height: normal;
--md-text-display-h3-font-weight: 400;
--md-text-display-h3-letter-spacing: 0;
--md-text-display-h3-color: var(--md-text-title-color);
--md-text-display-h3-margin-block-start: 0;
--md-text-display-h3-margin-block-end: 0.75rem;
--md-text-display-h4-font-size: clamp(1.75rem, 2.361vw, 2.125rem);
--md-text-display-h4-line-height: normal;
--md-text-display-h4-font-weight: 400;
--md-text-display-h4-letter-spacing: 0.25px;
--md-text-display-h4-color: var(--md-text-title-color);
--md-text-display-h4-margin-block-start: 0;
--md-text-display-h4-margin-block-end: 0.5rem;
--md-text-display-h5-font-size: clamp(1.25rem, 1.667vw, 1.5rem);
--md-text-display-h5-line-height: normal;
--md-text-display-h5-font-weight: 400;
--md-text-display-h5-letter-spacing: 0;
--md-text-display-h5-color: var(--md-text-title-color);
--md-text-display-h5-margin-block-start: 0;
--md-text-display-h5-margin-block-end: 0.5rem;
--md-text-display-h6-font-size: clamp(1rem, 1.389vw, 1.25rem);
--md-text-display-h6-line-height: normal;
--md-text-display-h6-font-weight: 500;
--md-text-display-h6-letter-spacing: 0.15px;
--md-text-display-h6-color: var(--md-text-title-color);
--md-text-display-h6-margin-block-start: 0;
--md-text-display-h6-margin-block-end: 0.5rem;
--md-text-h1-font-size: clamp(3rem, 4.167vw, 3.5625rem);
--md-text-h1-line-height: normal;
--md-text-h1-font-weight: 400;
--md-text-h1-letter-spacing: -0.5px;
--md-text-h1-color: var(--md-text-title-color);
--md-text-h1-margin-block-start: 0;
--md-text-h1-margin-block-end: 1rem;
--md-text-h2-font-size: clamp(2.25rem, 3.333vw, 2.8125rem);
--md-text-h2-line-height: normal;
--md-text-h2-font-weight: 400;
--md-text-h2-letter-spacing: 0;
--md-text-h2-color: var(--md-text-title-color);
--md-text-h2-margin-block-start: 0;
--md-text-h2-margin-block-end: 1rem;
--md-text-h3-font-size: clamp(1.75rem, 2.361vw, 2.125rem);
--md-text-h3-line-height: normal;
--md-text-h3-font-weight: 400;
--md-text-h3-letter-spacing: 0;
--md-text-h3-color: var(--md-text-title-color);
--md-text-h3-margin-block-start: 0;
--md-text-h3-margin-block-end: 0.75rem;
--md-text-h4-font-size: clamp(1.25rem, 1.667vw, 1.5rem);
--md-text-h4-line-height: normal;
--md-text-h4-font-weight: 400;
--md-text-h4-letter-spacing: 0.15px;
--md-text-h4-color: var(--md-text-title-color);
--md-text-h4-margin-block-start: 0;
--md-text-h4-margin-block-end: 0.5rem;
--md-text-h5-font-size: clamp(1rem, 1.389vw, 1.25rem);
--md-text-h5-line-height: normal;
--md-text-h5-font-weight: 500;
--md-text-h5-letter-spacing: 0.15px;
--md-text-h5-color: var(--md-text-title-color);
--md-text-h5-margin-block-start: 0;
--md-text-h5-margin-block-end: 0.5rem;
--md-text-h6-font-size: clamp(0.875rem, 1.389vw, 1rem);
--md-text-h6-line-height: normal;
--md-text-h6-font-weight: 500;
--md-text-h6-letter-spacing: 0.1px;
--md-text-h6-color: var(--md-text-title-color);
--md-text-h6-margin-block-start: 0;
--md-text-h6-margin-block-end: 0.5rem;
--md-text-subtitle1-font-size: 1rem;
--md-text-subtitle1-line-height: 1.5;
--md-text-subtitle1-font-weight: 400;
--md-text-subtitle1-letter-spacing: 0.15px;
--md-text-subtitle1-color: var(--md-text-title-color);
--md-text-subtitle1-margin-block-start: 0;
--md-text-subtitle1-margin-block-end: 0.5rem;
--md-text-subtitle2-font-size: 0.875rem;
--md-text-subtitle2-line-height: 1.5;
--md-text-subtitle2-font-weight: 500;
--md-text-subtitle2-letter-spacing: 0.1px;
--md-text-subtitle2-color: var(--md-text-title-color);
--md-text-subtitle2-margin-block-start: 0;
--md-text-subtitle2-margin-block-end: 0.5rem;
--md-text-body1-font-size: 1rem;
--md-text-body1-line-height: 1.5;
--md-text-body1-font-weight: 400;
--md-text-body1-letter-spacing: 0.5px;
--md-text-body1-color: var(--md-text-color);
--md-text-body1-margin-block-start: 0;
--md-text-body1-margin-block-end: 0.5rem;
--md-text-body2-font-size: 0.875rem;
--md-text-body2-line-height: 1.5;
--md-text-body2-font-weight: 400;
--md-text-body2-letter-spacing: 0.25px;
--md-text-body2-color: var(--md-text-color);
--md-text-body2-margin-block-start: 0;
--md-text-body2-margin-block-end: 0.5rem;
--md-text-button-font-size: 0.875rem;
--md-text-button-line-height: normal;
--md-text-button-font-weight: 500;
--md-text-button-letter-spacing: 1.25px;
--md-text-button-text-transform: uppercase;
--md-text-button-color: var(--md-text-color);
--md-text-button-margin-block-start: 0;
--md-text-button-margin-block-end: 0.5rem;
--md-text-caption-font-size: 0.75rem;
--md-text-caption-line-height: normal;
--md-text-caption-font-weight: 400;
--md-text-caption-letter-spacing: 0.4px;
--md-text-caption-color: var(--md-text-color);
--md-text-caption-margin-block-start: 0;
--md-text-caption-margin-block-end: 0.5rem;
--md-text-overline-font-size: 0.625rem;
--md-text-overline-line-height: normal;
--md-text-overline-font-weight: 400;
--md-text-overline-letter-spacing: 1.5px;
--md-text-overline-text-transform: uppercase;
--md-text-overline-color: var(--md-text-color);
--md-text-overline-margin-block-start: 0;
--md-text-overline-margin-block-end: 0.5rem;
--md-text-selection-background-color: var(--md-primary-light);
--md-text-selection-color: var(--md-on-primary-light);
--md-link-color: var(--md-primary);
--md-link-text-decoration: none;
--md-link-hover-color: var(--md-primary-dark);
--md-link-hover-text-decoration: underline;
--md-link-focus-outline: var(--md-outline-focus);
--md-link-focus-outline-offset: var(--md-outline-offset);
--md-base-background-color: var(--md-base-50);
--md-border-white: var(--md-border-width) solid var(--md-white);
--md-border-black: var(--md-border-width) solid var(--md-black);
--md-border-base: var(--md-border-width) solid var(--md-base);
--md-border-base-50: var(--md-border-width) solid var(--md-base-50);
--md-border-base-100: var(--md-border-width) solid var(--md-base-100);
--md-border-base-200: var(--md-border-width) solid var(--md-base-200);
--md-border-base-300: var(--md-border-width) solid var(--md-base-300);
--md-border-base-400: var(--md-border-width) solid var(--md-base-400);
--md-border-base-500: var(--md-border-width) solid var(--md-base-500);
--md-border-base-600: var(--md-border-width) solid var(--md-base-600);
--md-border-base-700: var(--md-border-width) solid var(--md-base-700);
--md-border-base-800: var(--md-border-width) solid var(--md-base-800);
--md-border-base-900: var(--md-border-width) solid var(--md-base-900);
--md-border-base-light: var(--md-border-width) solid var(--md-base-light);
--md-border-base-lighter: var(--md-border-width) solid var(--md-base-lighter);
--md-border-base-dark: var(--md-border-width) solid var(--md-base-dark);
--md-border-base-darker: var(--md-border-width) solid var(--md-base-darker);
--md-border-primary: var(--md-border-width) solid var(--md-primary);
--md-border-primary-light: var(--md-border-width) solid var(--md-primary-light);
--md-border-primary-lighter: var(--md-border-width) solid var(--md-primary-lighter);
--md-border-primary-dark: var(--md-border-width) solid var(--md-primary-dark);
--md-border-primary-darker: var(--md-border-width) solid var(--md-primary-darker);
--md-border-secondary: var(--md-border-width) solid var(--md-secondary);
--md-border-secondary-light: var(--md-border-width) solid var(--md-secondary-light);
--md-border-secondary-lighter: var(--md-border-width) solid var(--md-secondary-lighter);
--md-border-secondary-dark: var(--md-border-width) solid var(--md-secondary-dark);
--md-border-secondary-darker: var(--md-border-width) solid var(--md-secondary-darker);
--md-border-info: var(--md-border-width) solid var(--md-info);
--md-border-info-light: var(--md-border-width) solid var(--md-info-light);
--md-border-info-lighter: var(--md-border-width) solid var(--md-info-lighter);
--md-border-info-dark: var(--md-border-width) solid var(--md-info-dark);
--md-border-info-darker: var(--md-border-width) solid var(--md-info-darker);
--md-border-success: var(--md-border-width) solid var(--md-success);
--md-border-success-light: var(--md-border-width) solid var(--md-success-light);
--md-border-success-lighter: var(--md-border-width) solid var(--md-success-lighter);
--md-border-success-dark: var(--md-border-width) solid var(--md-success-dark);
--md-border-success-darker: var(--md-border-width) solid var(--md-success-darker);
--md-border-warning: var(--md-border-width) solid var(--md-warning);
--md-border-warning-light: var(--md-border-width) solid var(--md-warning-light);
--md-border-warning-lighter: var(--md-border-width) solid var(--md-warning-lighter);
--md-border-warning-dark: var(--md-border-width) solid var(--md-warning-dark);
--md-border-warning-darker: var(--md-border-width) solid var(--md-warning-darker);
--md-border-danger: var(--md-border-width) solid var(--md-error);
--md-border-danger-light: var(--md-border-width) solid var(--md-error-light);
--md-border-danger-lighter: var(--md-border-width) solid var(--md-error-lighter);
--md-border-danger-dark: var(--md-border-width) solid var(--md-error-dark);
--md-border-danger-darker: var(--md-border-width) solid var(--md-error-darker);
--md-border-on-base: var(--md-border-width) solid var(--md-on-base);
--md-border-on-base-light: var(--md-border-width) solid var(--md-on-base-light);
--md-border-on-base-lighter: var(--md-border-width) solid var(--md-on-base-lighter);
--md-border-on-base-dark: var(--md-border-width) solid var(--md-on-base-dark);
--md-border-on-base-darker: var(--md-border-width) solid var(--md-on-base-darker);
--md-border-on-primary: var(--md-border-width) solid var(--md-on-primary);
--md-border-on-primary-light: var(--md-border-width) solid var(--md-on-primary-light);
--md-border-on-primary-lighter: var(--md-border-width) solid var(--md-on-primary-lighter);
--md-border-on-primary-dark: var(--md-border-width) solid var(--md-on-primary-dark);
--md-border-on-primary-darker: var(--md-border-width) solid var(--md-on-primary-darker);
--md-border-on-secondary: var(--md-border-width) solid var(--md-on-secondary);
--md-border-on-secondary-light: var(--md-border-width) solid var(--md-on-secondary-light);
--md-border-on-secondary-lighter: var(--md-border-width) solid var(--md-on-secondary-lighter);
--md-border-on-secondary-dark: var(--md-border-width) solid var(--md-on-secondary-dark);
--md-border-on-secondary-darker: var(--md-border-width) solid var(--md-on-secondary-darker);
--md-border-on-info: var(--md-border-width) solid var(--md-on-info);
--md-border-on-info-light: var(--md-border-width) solid var(--md-on-info-light);
--md-border-on-info-lighter: var(--md-border-width) solid var(--md-on-info-lighter);
--md-border-on-info-dark: var(--md-border-width) solid var(--md-on-info-dark);
--md-border-on-info-darker: var(--md-border-width) solid var(--md-on-info-darker);
--md-border-on-success: var(--md-border-width) solid var(--md-on-success);
--md-border-on-success-light: var(--md-border-width) solid var(--md-on-success-light);
--md-border-on-success-lighter: var(--md-border-width) solid var(--md-on-success-lighter);
--md-border-on-success-dark: var(--md-border-width) solid var(--md-on-success-dark);
--md-border-on-success-darker: var(--md-border-width) solid var(--md-on-success-darker);
--md-border-on-warning: var(--md-border-width) solid var(--md-on-warning);
--md-border-on-warning-light: var(--md-border-width) solid var(--md-on-warning-light);
--md-border-on-warning-lighter: var(--md-border-width) solid var(--md-on-warning-lighter);
--md-border-on-warning-dark: var(--md-border-width) solid var(--md-on-warning-dark);
--md-border-on-warning-darker: var(--md-border-width) solid var(--md-on-warning-darker);
--md-border-on-error: var(--md-border-width) solid var(--md-on-error);
--md-border-on-error-light: var(--md-border-width) solid var(--md-on-error-light);
--md-border-on-error-lighter: var(--md-border-width) solid var(--md-on-error-lighter);
--md-border-on-error-dark: var(--md-border-width) solid var(--md-on-error-dark);
--md-border-on-error-darker: var(--md-border-width) solid var(--md-on-error-darker);
--md-border-series-1: var(--md-border-width) solid var(--md-series-1);
--md-border-series-2: var(--md-border-width) solid var(--md-series-2);
--md-border-series-3: var(--md-border-width) solid var(--md-series-3);
--md-border-series-4: var(--md-border-width) solid var(--md-series-4);
--md-border-series-5: var(--md-border-width) solid var(--md-series-5);
--md-border-series-6: var(--md-border-width) solid var(--md-series-6);
--md-border-series-7: var(--md-border-width) solid var(--md-series-7);
--md-border-series-8: var(--md-border-width) solid var(--md-series-8);
--md-border-series-9: var(--md-border-width) solid var(--md-series-9);
--md-border-series-10: var(--md-border-width) solid var(--md-series-10);
--md-border-series-11: var(--md-border-width) solid var(--md-series-11);
--md-border-series-12: var(--md-border-width) solid var(--md-series-12);
--md-border-series-13: var(--md-border-width) solid var(--md-series-13);
--md-border-series-14: var(--md-border-width) solid var(--md-series-14);
--md-border-series-15: var(--md-border-width) solid var(--md-series-15);
--md-border-series-16: var(--md-border-width) solid var(--md-series-16);
--md-border-series-17: var(--md-border-width) solid var(--md-series-17);
--md-border-series-18: var(--md-border-width) solid var(--md-series-18);
--md-border-series-19: var(--md-border-width) solid var(--md-series-19);
--md-border-series-20: var(--md-border-width) solid var(--md-series-20);
--md-border-series-21: var(--md-border-width) solid var(--md-series-21);
--md-border-series-22: var(--md-border-width) solid var(--md-series-22);
--md-border-series-23: var(--md-border-width) solid var(--md-series-23);
--md-border-series-24: var(--md-border-width) solid var(--md-series-24);
--md-border-normal: var(--md-border-width) solid var(--md-base-600);
--md-border-hover: var(--md-border-width) solid var(--md-base-700);
--md-border-focus: var(--md-border-width) solid var(--md-primary);
--md-border-disabled: var(--md-border-width) solid var(--md-base-400);
--md-border-radius: 4px;
--md-border-radius-0: 0;
--md-border-radius-1: 0.25rem;
--md-border-radius-2: 0.5rem;
--md-border-radius-3: 0.75rem;
--md-border-radius-4: 1rem;
--md-border-radius-5: 1.25rem;
--md-border-radius-6: 1.5rem;
--md-border-radius-7: 1.75rem;
--md-border-radius-8: 2rem;
--md-border-radius-9: 2.25rem;
--md-border-radius-10: 2.5rem;
--md-outline-white: var(--md-outline-width) solid var(--md-white);
--md-outline-black: var(--md-outline-width) solid var(--md-black);
--md-outline-base: var(--md-outline-width) solid var(--md-base);
--md-outline-base-50: var(--md-outline-width) solid var(--md-base-50);
--md-outline-base-100: var(--md-outline-width) solid var(--md-base-100);
--md-outline-base-200: var(--md-outline-width) solid var(--md-base-200);
--md-outline-base-300: var(--md-outline-width) solid var(--md-base-300);
--md-outline-base-400: var(--md-outline-width) solid var(--md-base-400);
--md-outline-base-500: var(--md-outline-width) solid var(--md-base-500);
--md-outline-base-600: var(--md-outline-width) solid var(--md-base-600);
--md-outline-base-700: var(--md-outline-width) solid var(--md-base-700);
--md-outline-base-800: var(--md-outline-width) solid var(--md-base-800);
--md-outline-base-900: var(--md-outline-width) solid var(--md-base-900);
--md-outline-base-light: var(--md-outline-width) solid var(--md-base-light);
--md-outline-base-lighter: var(--md-outline-width) solid var(--md-base-lighter);
--md-outline-base-dark: var(--md-outline-width) solid var(--md-base-dark);
--md-outline-base-darker: var(--md-outline-width) solid var(--md-base-darker);
--md-outline-primary: var(--md-outline-width) solid var(--md-primary);
--md-outline-primary-light: var(--md-outline-width) solid var(--md-primary-light);
--md-outline-primary-lighter: var(--md-outline-width) solid var(--md-primary-lighter);
--md-outline-primary-dark: var(--md-outline-width) solid var(--md-primary-dark);
--md-outline-primary-darker: var(--md-outline-width) solid var(--md-primary-darker);
--md-outline-secondary: var(--md-outline-width) solid var(--md-secondary);
--md-outline-secondary-light: var(--md-outline-width) solid var(--md-secondary-light);
--md-outline-secondary-lighter: var(--md-outline-width) solid var(--md-secondary-lighter);
--md-outline-secondary-dark: var(--md-outline-width) solid var(--md-secondary-dark);
--md-outline-secondary-darker: var(--md-outline-width) solid var(--md-secondary-darker);
--md-outline-info: var(--md-outline-width) solid var(--md-info);
--md-outline-info-light: var(--md-outline-width) solid var(--md-info-light);
--md-outline-info-lighter: var(--md-outline-width) solid var(--md-info-lighter);
--md-outline-info-dark: var(--md-outline-width) solid var(--md-info-dark);
--md-outline-info-darker: var(--md-outline-width) solid var(--md-info-darker);
--md-outline-success: var(--md-outline-width) solid var(--md-success);
--md-outline-success-light: var(--md-outline-width) solid var(--md-success-light);
--md-outline-success-lighter: var(--md-outline-width) solid var(--md-success-lighter);
--md-outline-success-dark: var(--md-outline-width) solid var(--md-success-dark);
--md-outline-success-darker: var(--md-outline-width) solid var(--md-success-darker);
--md-outline-warning: var(--md-outline-width) solid var(--md-warning);
--md-outline-warning-light: var(--md-outline-width) solid var(--md-warning-light);
--md-outline-warning-lighter: var(--md-outline-width) solid var(--md-warning-lighter);
--md-outline-warning-dark: var(--md-outline-width) solid var(--md-warning-dark);
--md-outline-warning-darker: var(--md-outline-width) solid var(--md-warning-darker);
--md-outline-danger: var(--md-outline-width) solid var(--md-error);
--md-outline-danger-light: var(--md-outline-width) solid var(--md-error-light);
--md-outline-danger-lighter: var(--md-outline-width) solid var(--md-error-lighter);
--md-outline-danger-dark: var(--md-outline-width) solid var(--md-error-dark);
--md-outline-danger-darker: var(--md-outline-width) solid var(--md-error-darker);
--md-outline-on-base: var(--md-outline-width) solid var(--md-on-base);
--md-outline-on-base-light: var(--md-outline-width) solid var(--md-on-base-light);
--md-outline-on-base-lighter: var(--md-outline-width) solid var(--md-on-base-lighter);
--md-outline-on-base-dark: var(--md-outline-width) solid var(--md-on-base-dark);
--md-outline-on-base-darker: var(--md-outline-width) solid var(--md-on-base-darker);
--md-outline-on-primary: var(--md-outline-width) solid var(--md-on-primary);
--md-outline-on-primary-light: var(--md-outline-width) solid var(--md-on-primary-light);
--md-outline-on-primary-lighter: var(--md-outline-width) solid var(--md-on-primary-lighter);
--md-outline-on-primary-dark: var(--md-outline-width) solid var(--md-on-primary-dark);
--md-outline-on-primary-darker: var(--md-outline-width) solid var(--md-on-primary-darker);
--md-outline-on-secondary: var(--md-outline-width) solid var(--md-on-secondary);
--md-outline-on-secondary-light: var(--md-outline-width) solid var(--md-on-secondary-light);
--md-outline-on-secondary-lighter: var(--md-outline-width) solid var(--md-on-secondary-lighter);
--md-outline-on-secondary-dark: var(--md-outline-width) solid var(--md-on-secondary-dark);
--md-outline-on-secondary-darker: var(--md-outline-width) solid var(--md-on-secondary-darker);
--md-outline-on-info: var(--md-outline-width) solid var(--md-on-info);
--md-outline-on-info-light: var(--md-outline-width) solid var(--md-on-info-light);
--md-outline-on-info-lighter: var(--md-outline-width) solid var(--md-on-info-lighter);
--md-outline-on-info-dark: var(--md-outline-width) solid var(--md-on-info-dark);
--md-outline-on-info-darker: var(--md-outline-width) solid var(--md-on-info-darker);
--md-outline-on-success: var(--md-outline-width) solid var(--md-on-success);
--md-outline-on-success-light: var(--md-outline-width) solid var(--md-on-success-light);
--md-outline-on-success-lighter: var(--md-outline-width) solid var(--md-on-success-lighter);
--md-outline-on-success-dark: var(--md-outline-width) solid var(--md-on-success-dark);
--md-outline-on-success-darker: var(--md-outline-width) solid var(--md-on-success-darker);
--md-outline-on-warning: var(--md-outline-width) solid var(--md-on-warning);
--md-outline-on-warning-light: var(--md-outline-width) solid var(--md-on-warning-light);
--md-outline-on-warning-lighter: var(--md-outline-width) solid var(--md-on-warning-lighter);
--md-outline-on-warning-dark: var(--md-outline-width) solid var(--md-on-warning-dark);
--md-outline-on-warning-darker: var(--md-outline-width) solid var(--md-on-warning-darker);
--md-outline-on-error: var(--md-outline-width) solid var(--md-on-error);
--md-outline-on-error-light: var(--md-outline-width) solid var(--md-on-error-light);
--md-outline-on-error-lighter: var(--md-outline-width) solid var(--md-on-error-lighter);
--md-outline-on-error-dark: var(--md-outline-width) solid var(--md-on-error-dark);
--md-outline-on-error-darker: var(--md-outline-width) solid var(--md-on-error-darker);
--md-outline-series-1: var(--md-outline-width) solid var(--md-series-1);
--md-outline-series-2: var(--md-outline-width) solid var(--md-series-2);
--md-outline-series-3: var(--md-outline-width) solid var(--md-series-3);
--md-outline-series-4: var(--md-outline-width) solid var(--md-series-4);
--md-outline-series-5: var(--md-outline-width) solid var(--md-series-5);
--md-outline-series-6: var(--md-outline-width) solid var(--md-series-6);
--md-outline-series-7: var(--md-outline-width) solid var(--md-series-7);
--md-outline-series-8: var(--md-outline-width) solid var(--md-series-8);
--md-outline-series-9: var(--md-outline-width) solid var(--md-series-9);
--md-outline-series-10: var(--md-outline-width) solid var(--md-series-10);
--md-outline-series-11: var(--md-outline-width) solid var(--md-series-11);
--md-outline-series-12: var(--md-outline-width) solid var(--md-series-12);
--md-outline-series-13: var(--md-outline-width) solid var(--md-series-13);
--md-outline-series-14: var(--md-outline-width) solid var(--md-series-14);
--md-outline-series-15: var(--md-outline-width) solid var(--md-series-15);
--md-outline-series-16: var(--md-outline-width) solid var(--md-series-16);
--md-outline-series-17: var(--md-outline-width) solid var(--md-series-17);
--md-outline-series-18: var(--md-outline-width) solid var(--md-series-18);
--md-outline-series-19: var(--md-outline-width) solid var(--md-series-19);
--md-outline-series-20: var(--md-outline-width) solid var(--md-series-20);
--md-outline-series-21: var(--md-outline-width) solid var(--md-series-21);
--md-outline-series-22: var(--md-outline-width) solid var(--md-series-22);
--md-outline-series-23: var(--md-outline-width) solid var(--md-series-23);
--md-outline-series-24: var(--md-outline-width) solid var(--md-series-24);
--md-outline-normal: none;
--md-outline-focus: var(--md-outline-width) solid var(--md-outline-color);
--md-elevation-0: none;
--md-elevation-1: 0px 1px 2px rgba(69, 73, 79, 0.3), 0px 1px 3px 1px rgba(69, 73, 79, 0.15);
--md-elevation-2: 0px 1px 2px rgba(69, 73, 79, 0.3), 0px 2px 6px 2px rgba(69, 73, 79, 0.15);
--md-elevation-3: 0px 4px 8px 3px rgba(69, 73, 79, 0.15), 0px 1px 3px rgba(69, 73, 79, 0.3);
--md-elevation-4: 0px 6px 10px 4px rgba(69, 73, 79, 0.15), 0px 2px 3px rgba(69, 73, 79, 0.3);
--md-elevation-5: 0px 8px 12px 6px rgba(69, 73, 79, 0.15), 0px 4px 4px rgba(69, 73, 79, 0.3);
--md-elevation-6: 0px 12px 16px 6px rgba(69, 73, 79, 0.15), 0px 4px 6px rgba(69, 73, 79, 0.3);
--md-elevation-7: 0px 16px 20px 6px rgba(69, 73, 79, 0.15), 0px 6px 6px rgba(69, 73, 79, 0.3);
--md-elevation-8: 0px 20px 24px 6px rgba(69, 73, 79, 0.15), 0px 6px 8px rgba(69, 73, 79, 0.3);
--md-elevation-9: 0px 24px 28px 6px rgba(69, 73, 79, 0.15), 0px 8px 8px rgba(69, 73, 79, 0.3);
--md-elevation-10: 0px 28px 32px 6px rgba(69, 73, 79, 0.15), 0px 8px 10px rgba(69, 73, 79, 0.3);